parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\BookAuthor\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/BookAuthor.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\BookGenre\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/BookGenre.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\BookTag\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/BookTag.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\Genre\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/Genre.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\Tag\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/Tag.php

		-
			message: "#^Call to an undefined method Cycle\\\\Database\\\\TableInterface\\:\\:select\\(\\)\\.$#"
			count: 1
			path: src/Infrastructure/ServiceImplementation/AuthorServiceImplementation.php

		-
			message: "#^Call to an undefined method Cycle\\\\Database\\\\TableInterface\\:\\:select\\(\\)\\.$#"
			count: 1
			path: src/Infrastructure/ServiceImplementation/BookServiceImplementation.php
