parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\BookAuthor\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/BookAuthor.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\BookGenre\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/BookGenre.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\BookTag\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/BookTag.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\Genre\\:\\:\\$id is unused\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/Genre.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Database\\\\Entity\\\\Tag\\:\\:\\$id is never written, only read\\.$#"
			count: 1
			path: src/Infrastructure/Database/Entity/Tag.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Infrastructure/Http/InvocationStrategy/ApiInvocationStrategy.php

		-
			message: "#^Cannot access offset 0 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: src/Infrastructure/Http/InvocationStrategy/ApiInvocationStrategy.php

		-
			message: "#^Cannot access offset 1 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: src/Infrastructure/Http/InvocationStrategy/ApiInvocationStrategy.php

		-
			message: "#^Call to an undefined method ReflectionType\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/Infrastructure/Http/Request/AbstractRequest.php

		-
			message: "#^Unable to resolve the template type T in call to method App\\\\Infrastructure\\\\Http\\\\Request\\\\Mapper\\:\\:map\\(\\)$#"
			count: 1
			path: src/Infrastructure/Http/Request/AbstractRequest.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Dto\\\\DtoInterface\\:\\:\\$id\\.$#"
			count: 1
			path: src/Infrastructure/Http/Response/Author/CollectionOfAuthorsResponse.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Dto\\\\DtoInterface\\:\\:\\$id\\.$#"
			count: 1
			path: src/Infrastructure/Http/Response/Book/CollectionOfBooksResponse.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Http\\\\Response\\\\SingleResourceResponse\\:\\:\\$included \\(array\\<string, mixed\\>\\) does not accept array\\<int\\|string, mixed\\>\\.$#"
			count: 2
			path: src/Infrastructure/Http/Response/Book/SingleBookResponse.php

		-
			message: "#^Access to an undefined property App\\\\Domain\\\\Dto\\\\DtoInterface\\:\\:\\$abbreviation\\.$#"
			count: 1
			path: src/Infrastructure/Http/Response/Genre/GenreCollectionResponse.php

		-
			message: "#^Call to an undefined method Cycle\\\\Database\\\\TableInterface\\:\\:select\\(\\)\\.$#"
			count: 1
			path: src/Infrastructure/ServiceImplementation/AuthorServiceImplementation.php

		-
			message: "#^Call to an undefined method Cycle\\\\Database\\\\TableInterface\\:\\:select\\(\\)\\.$#"
			count: 1
			path: src/Infrastructure/ServiceImplementation/BookServiceImplementation.php
